n8n/1st-of-month-workflow.json
{
  "name": "Postpartum Post — 1st of Month Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "1st of Month (9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/members",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Accept-Profile", "value": "postpartumpost" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.active" },
            { "name": "select", "value": "id,first_name,email" }
          ]
        }
      },
      "id": "fetch-active-members",
      "name": "Fetch active members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=",
        "options": {}
      },
      "id": "split-members",
      "name": "Split into items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Splits the members array so each member is processed individually"
    },
    {
      "parameters": {
        "jsCode": "// Generate HMAC-SHA256 skip token for this member + current month\nconst crypto = require('crypto');\n\nconst secret = $env.SKIP_TOKEN_SECRET;\nconst memberId = $json.id;\n\n// Current month as YYYY-MM\nconst now = new Date();\nconst month = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\n\nconst token = crypto\n  .createHmac('sha256', secret)\n  .update(`${memberId}:${month}`)\n  .digest('hex');\n\nconst baseUrl = $env.NEXT_PUBLIC_BASE_URL || 'https://postpartumpost.nl';\nconst skipUrl = `${baseUrl}/api/skip?member=${memberId}&month=${month}&token=${token}`;\n\nreturn [{\n  json: {\n    ...$json,\n    month,\n    skip_url: skipUrl,\n  }\n}];"
      },
      "id": "generate-skip-token",
      "name": "Generate skip token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@amsterdamparentproject.nl",
        "fromName": "Alex — Postpartum Post",
        "toEmail": "={{ $json.email }}",
        "subject": "Your next match arrives on the 5th ✉️",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n</head>\n<body style=\"margin:0;padding:0;background-color:#F5EEE6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#F5EEE6;\">\n    <tr>\n      <td align=\"center\" style=\"padding:40px 16px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:560px;background-color:#ffffff;border-radius:16px;border:1px solid #E8DDD6;overflow:hidden;\">\n          <tr>\n            <td style=\"background-color:#D4614A;padding:24px 32px;\">\n              <p style=\"margin:0;font-family:Georgia,'Times New Roman',serif;font-size:20px;font-weight:600;color:#ffffff;\">Postpartum Post</p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:36px 32px 28px;\">\n              <p style=\"margin:0 0 20px;font-size:16px;line-height:1.6;color:#1A1A1A;\">Hi {{ $json.first_name }},</p>\n              <p style=\"margin:0 0 16px;font-size:16px;line-height:1.7;color:#1A1A1A;\">Your next introduction is on its way — we'll send it on the 5th.</p>\n              <p style=\"margin:0 0 24px;font-size:16px;line-height:1.7;color:#1A1A1A;\">If this month is too busy, you can skip it below. One click, no questions asked — and we'll adjust your billing automatically.</p>\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 28px;\">\n                <tr>\n                  <td style=\"background-color:#F5EEE6;border:1.5px solid #D4614A;border-radius:8px;\">\n                    <a href=\"{{ $json.skip_url }}\" style=\"display:inline-block;padding:12px 24px;font-size:14px;font-weight:600;color:#D4614A;text-decoration:none;\">Skip this month →</a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin:0;font-size:14px;line-height:1.6;color:#8B7B72;\">Otherwise, sit tight — your Post is on its way.</p>\n            </td>\n          </tr>\n          <tr><td style=\"padding:0 32px;\"><hr style=\"border:none;border-top:1px solid #E8DDD6;margin:0;\" /></td></tr>\n          <tr>\n            <td style=\"padding:24px 32px 32px;\">\n              <p style=\"margin:0;font-size:15px;line-height:1.6;color:#1A1A1A;\">— Alex</p>\n              <p style=\"margin:4px 0 0;font-size:13px;color:#8B7B72;\"><a href=\"https://amsterdamparentproject.nl\" style=\"color:#D4614A;text-decoration:none;\">Amsterdam Parent Project</a></p>\n            </td>\n          </tr>\n        </table>\n        <p style=\"margin:20px 0 0;font-size:12px;color:#8B7B72;text-align:center;\">You're receiving this as an active Postpartum Post subscriber. · <a href=\"https://postpartumpost.nl/unsubscribe\" style=\"color:#8B7B72;\">Unsubscribe</a></p>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"
      },
      "id": "send-email",
      "name": "Send email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "notes": "Configure SMTP credentials to use Gmail or Resend SMTP. For Resend: host=smtp.resend.com, port=465, user=resend, pass={RESEND_API_KEY}"
    }
  ],
  "connections": {
    "1st of Month (9am)": {
      "main": [[{ "node": "Fetch active members", "type": "main", "index": 0 }]]
    },
    "Fetch active members": {
      "main": [[{ "node": "Split into items", "type": "main", "index": 0 }]]
    },
    "Split into items": {
      "main": [[{ "node": "Generate skip token", "type": "main", "index": 0 }]]
    },
    "Generate skip token": {
      "main": [[{ "node": "Send email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_notes": [
    "Environment variables needed in n8n:",
    "  SUPABASE_URL          — your Supabase project URL",
    "  SUPABASE_SERVICE_KEY  — service role key (Settings > API)",
    "  SKIP_TOKEN_SECRET     — must match SKIP_TOKEN_SECRET in your Next.js env",
    "  NEXT_PUBLIC_BASE_URL  — e.g. https://postpartumpost.nl",
    "",
    "SMTP credentials:",
    "  Gmail: add Gmail OAuth2 credential in n8n, select it on the Send Email node",
    "  Resend: host=smtp.resend.com, port=465, SSL, user=resend, pass=your_resend_api_key",
    "",
    "The Supabase query filters status=active. Members who are 'paused', 'pending',",
    "or 'inactive' are automatically excluded."
  ]
}
